sensorius_data.*
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.sqlite-wal
*.sqlite-shm
._*
.DS_Store
__pycache__/
*.pyc
*.log
.env
sai_hosts.txt

/sensor_settings/*
!/sensor_settings/__init__.py
!/sensor_settings/factory/
!/sensor_settings/factory/**
!/sensor_settings/factory_nodus/
!/sensor_settings/factory_nodus/**

/switch_settings/*
!/switch_settings/__init__.py
!/switch_settings/factory/
!/switch_settings/factory/**
!/switch_settings/factory_nodus/
!/switch_settings/factory_nodus/**

/system_settings/*
!/system_settings/__init__.py
!/system_settings/factory/
!/system_settings/factory/**
!/system_settings/factory_nodus/
!/system_settings/factory_nodus/**
